@model AgenciaViajes.Models.Turistum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Turistum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTurista" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cp" class="control-label"></label>
                <input asp-for="Cp" class="form-control" />
                <span asp-validation-for="Cp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHotel" class="control-label"></label>
                <select asp-for="IdHotel" class="form-control" asp-items="ViewBag.IdHotel"></select>
                <span asp-validation-for="IdHotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegimenHotel" class="control-label"></label>
                <input asp-for="RegimenHotel" class="form-control" />
                <span asp-validation-for="RegimenHotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSucursal" class="control-label"></label>
                <select asp-for="IdSucursal" class="form-control" asp-items="ViewBag.IdSucursal"></select>
                <span asp-validation-for="IdSucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVuelo" class="control-label"></label>
                <select asp-for="IdVuelo" class="form-control" asp-items="ViewBag.IdVuelo"></select>
                <span asp-validation-for="IdVuelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaseTurista" class="control-label"></label>
                <input asp-for="ClaseTurista" class="form-control" />
                <span asp-validation-for="ClaseTurista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioCrea" class="control-label"></label>
                <select asp-for="IdUsuarioCrea" class="form-control" asp-items="ViewBag.IdUsuarioCrea"></select>
                <span asp-validation-for="IdUsuarioCrea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCrea" class="control-label"></label>
                <input asp-for="FechaCrea" class="form-control" />
                <span asp-validation-for="FechaCrea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioModifica" class="control-label"></label>
                <select asp-for="IdUsuarioModifica" class="form-control" asp-items="ViewBag.IdUsuarioModifica"></select>
                <span asp-validation-for="IdUsuarioModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModifica" class="control-label"></label>
                <input asp-for="FechaModifica" class="form-control" />
                <span asp-validation-for="FechaModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
